body {
  background: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  background-repeat: no-repeat;
  background-position: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  max-width: 600px;
  text-align: center;
  padding: 30px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(17, 19, 23, 0.08);
  background-color: rgb(246, 248, 250);
  border-radius: 10px;
}

.Search {
  background-color: #6E94CA;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #6E94CA;
  border-radius: 4px;
}

.Input {
  background-color: #dee2ec;
  padding: 10px 50px;
  border: 2px solid #000;
  border-radius: 4px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
